// LESS
/*MAIN STYLES*/
@blue: #19496d;
@dark-blue: #2a343d;
@light-blue: #5f839d;
@white: #fff;
@pink: #d93189;
@base-grey: #333;
@back-grey: #e9e9e9;
@family: 'Nunito', sans-serif;
@family-title: 'Lato', sans-serif;
@body-family: 'Open Sans', sans-serif;
.rounded-corners (@radius:10px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

/*GENERAL*/
body {font-family:@body-family;}
h1 {color:@blue;}
h2 {display:block; font-size:42px; font-weight:300; text-align:center; background:url(../imag/back/bg-title-blue.jpg) repeat-x center 13px !important; font-family:@family-title; text-transform:uppercase; letter-spacing:2px; color:@blue;}
h2 span {display:inline-block; padding:5px 45px; background:@white;}
h3 {display:block; font-size:35px; font-weight:300; text-align:center; background:url(../imag/back/bg-title-blue.jpg) repeat-x center 7px !important; font-family:@family-title; text-transform:uppercase; letter-spacing:2px; color:@blue;}
h3 span {display:inline-block; padding:5px 15px; background:@white;}
h4 {color:@blue;}
a {color:@blue; cursor:pointer;}
a:hover {text-decoration:none; background:none;}
.cont-site {padding:0;}

/*HEADER*/
#header {width:100%; position:fixed; background:url(../imag/back/bg-header.png) repeat left top; z-index:1000; font-size:300; font-family:@family;}
#header {
	#main-nav {width:100%; text-align:center; padding:0; background:url(../imag/back/bg-nav.png) repeat left top; z-index:900;}
	#main-nav {
		ul {margin:0 auto; padding:0; text-align:center;}
		ul li {display:inline-block; list-style-type:none; color:@white; text-transform:uppercase; float:none;}
		ul li.home {display:none;}
		ul li a {display:inline-block; padding:25px 40px; color:@white; font-size:16px; text-transform:uppercase; cursor:pointer;}
		a:hover {color:@pink; background:none;}
		#form-contact {padding:0 25px; color:@white; font-size:16px; text-transform:uppercase; cursor:pointer;}
		.nav > li > a:hover, .nav > li > a:focus {background:none;}
	}
	#main-nav.affix {position:fixed; top:0px; width:100%; z-index:1000; height:47px;}
	#main-nav.affix li.home {display:block; visibilyty:visible;}
}

/*CONTENT*/
h2 {margin:0;}
.cont-site {margin:0; padding:0; float:none; text-align:center; clear:both;}
.cont-site {
	
}

/*INT*/
.header-int {margin:0 0 80px; -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.5); box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.5); z-index:50;}
.header-int h1 {position:absolute; width:100%; font-size:40px; top:90px; font-family:@family; text-align:center; color:@white; text-transform:uppercase; letter-spacing:5px; font-weight:300;}

/*Slider*/
#slider {margin:0 0 60px;}

/*Noticias*/
#content-block {padding:0 0 100px; float:none; clear:both; -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.5); box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.5); z-index:50;}
#content-block {
	h3 {margin:0 0 50px;}
	.item {margin:0 0 20px; padding:0 10px 0 0; border:1px solid @blue; .rounded-corners (@radius:5px); text-align:left;}
	.item {
		.cont-item {padding-left:25px;}
		h4 {margin-top:25px;color:@blue; font-size:19px;}
		h4 a {color:@blue;}
		h4 a:hover {color:@pink;}
		p {font-size:14px; line-height:125%; color:@base-grey;}
		p a {color:@blue;}
		p a:hover {color:@pink;}
		img {padding:0;}
		.date {margin:0 0 10px; font-size:14px; font-style:italic;}
	}
	.ver-mas {text-align:right;}
}

/*On Tour*/
#ontour {
	h2 {margin:0 15px;}
	h5 {margin:0 15px; font-size:20px; font-size:400; font-family:@family; text-align:left; color:@blue;}
	.cont-fechas {padding:30px 15px 60px; background:@back-grey;}
	.item-fechas {.rounded-corners (@radius:5px); background:@light-blue;}
}

/*FOOTER*/
footer {width:100%; height:815px; background:url(../imag/back/bg-footer.jpg) no-repeat center top;}
footer {
	.top-foot {height:450px;}
	.middle-foot {font-size:40px; font-family:@family-title; font-weight:300; color:@white;}
	.middle-foot {
		h3 {color:@white; font-size:28px; background:none !important;}
	}
	.bottom-foot {font-family:@body-family; color:@white;}
}

/*END*/