// LESS
/*MAIN STYLES*/
@base-blue: #0076bf;
@foot-blue: #456073;
@light-blue: #cfdae5;
@white: #fff;
@dark-grey: #333;
@medium-grey: #666;
@border-grey: #bebdbd;
@back-grey: #eae8e8;
@pink: #c96565;
@family: 'Open Sans', sans-serif;
.rounded-corners (@radius:10px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

/*GENERAL*/
body {font-family:@family;}
h3 {margin:0 0 50px; font-size:25px; font-weight:600; color:@base-blue; text-transform:uppercase; line-height:140%;}
h4 {color:@base-blue;}
a {color:@base-blue; cursor:pointer;}
a:hover {text-decoration:none; background:none;}
.cont-site {padding:0;}

/*HEADER*/
header {position:relative;}
header {
	
}

/*CONTENT*/

/*END*/